{% extends 'base.html' %}

{% if user.is_authenticated %}

<p> Hi {{user.username }}!</p>
{% else %}
<p> You are not logged in. </p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}

{% block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<body>    
  <div class="container">
    <div class="mt-5 ">
            <h2 class="header">TSLA and BMW Trade</h2>
    </div>        
        
    <div class="phots">
        <img src="{% static 'image/stock_image.jpg' %}" alt="stock" width="100%" height="100%">
    </div>   
  </div>
</body>
{% endblock content %}