{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/transactions.css' %}">
{% csrf_token %}
<body>
    
    <h2 class="tran_header">Transaction History</h2>
            <div class="HLT">
                <table class="table table-dark table-hover ">
                    <thead>
                        <tr>
                            <th>DateTime</th>
                            <th>Transaction</th>
                            <th>Stock</th><br>
                            <th>Quantity</th>
                            <th>Share Price</th>
                            <th>Cash Impact</th>

                        </tr>
                    </thead>

        <tbody>
        {% for transaction in transactions %}
        <tr>
        {% load tz %}
        {% timezone 'America/Chicago' %}
        <td>{{ transaction.date_time }}</td>
        {% endtimezone %}
        <td>{{ transaction.transaction_type }}</td>
        <td>{{ transaction.stock_name }}</td>
        <td>{{ transaction.num_of_shares }}</td>
        <td>{{ transaction.stock_price }}</td>
        {% if transaction.transaction_type == "BUY" %}
        <td>-{{ transaction.cash_impact }}</td>
        {% else %}
        <td>+{{ transaction.cash_impact }}</td>
        {% endif %}
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<br>
   <h5 class="rest_note"><strong>If you need to start over click here to </strong><a href="{% url 'reset' %}">Reset Account</a></h5>
    <div class="d-flex flex-column flex-md-row justify-content-center w-100">
    {% for hourly_graph_div in hourly_graph_divs %}
    <div class="graph">
    {{ hourly_graph_div | safe }}
    </div>
    {% endfor %}
    </div>

<body>
{% endblock content %}